---
import { Icon } from "astro-icon/components";
---

		<section class="publish-actions">
			<button id="download-draft-button" class="action-button secondary" type="button">
				<Icon name="material-symbols:download-rounded" />
				<span>Save</span>
			</button>
			<button id="open-draft-button" class="action-button secondary" type="button">
				<Icon name="material-symbols:upload-file-outline-rounded" />
				<span>Load</span>
			</button>
			<button id="publish-button" class="action-button primary" type="button">
				<Icon name="material-symbols:send-rounded" />
				<span>Publish</span>
			</button>
		</section>